*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffab96;
}

.container{
    background-color: #130818;
    width: 70%;
    height: 80%;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 10px 10px 2px);
}

/* Topo do card*/

.card-top{
    width: 100%;
    height: 80%;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../assets/imgs/background.jpg);
    background-size: cover;
}

.card-top img{
    width: 170px;
    border-radius: 100px;
    border:  solid #fad5dd 4px;
    position: relative;
}

.card-top h1{
    letter-spacing: 2px;
    position: relative;
    font-size: 3.5rem;
    color: #fad5dd;
    filter: drop-shadow(#eb6a86 1px 1px 1px);
}

.card-top h4{
    position: relative;
    font-size: 1.7rem;
    width: 360px;
    text-align: left;
    text-align: center;
    color: #fad5dd;
    filter: drop-shadow(#eb6a86 1px 1px 1px);
    letter-spacing: 2px;
}


/* LADO DIREITO DO CONTAINER */

.container-links{
    width: 100%;
    height: 20%;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-links .links{
    display: flex;
}

.container-links a{
    text-decoration: none;
}

.container-links button p{
    width: 100px;
    color: #ee3b63;
}

.container-links button{
    background-color: #fad5dd;
    margin: 10px;
    width: 160px;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ee3b63;
}

.container-links button img{
    width: 30px;
}

.container-links button:hover{
    scale: 1.1;
    transition: 300ms;
}